body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(0, 0, 0, 80%);
    width: 1440px;
}


/*Header*/
.header {
    background-color: #FF9635;
    width: 1440px;
    height: 51px;
    padding-top: 8px ;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 0px;

}

.logo-style {
    display: inline-block;
    width: 36px;
    height: 31px;
    float: left;
    padding-top: 8px;
    padding-right:63px;
    padding-bottom: 13px;
    padding-left: 63px;
}

.size {
    width: 192px;
    height: 293px;
}
/*Navigation*/

.nav {
    display: block;
    float: right;
    font-style: normal;
    font-weight: 400;
    font-size: 0px;
    line-height: 35px;

}

.nav li {
    float: right    ;
    padding: 11, 7;
    padding: 8, 46,;
    font-size: 16px;
    margin-right: 46px;
    margin-top: 8px;
    margin-bottom: 8px;
    

}

.nav li a {
    display: block;
    color: #000000;
    text-decoration: none;

}

.nav li a:hover {
    color: white;
    background-color: black;
    
}

/*Intro*/

.intro {
    width: 1440px;
    background-color: #FF9635;
}

.intro article {
    display: inline-block;
    float: left ;
    padding-top: 0px;
    padding-right:0px;
    padding-bottom: 33px;
    padding-left: 0px;

}

h1 {
    display: inline-block;
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    line-height: 106px;
    color: #000000;
    max-width: 715px;

    margin-right: 63px;
    margin-bottom: 30px ;
    margin-left: 63px;
}

h2 {
    display: inline-block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 86px;
    color: #000000;
    margin-left: 175px;
    margin-bottom: 83px;
}

h3{
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 78px;
    color: #000000;
}

h4{
    color: #FF9635;;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 70%;
}

h5 {
    vertical-align: text-top;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}
.intro-text {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(0, 0, 0, 80%);
    margin-right: 63px;
    margin-bottom: 100px ;
    margin-left: 63px;
    max-width: 600px;
}

.release_years {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: rgba(0, 0, 0, 70%)
}
/*
transition: color .2s linear;*/
main {
    width: 100%;
}


.haunting_info h4 {
    padding-top: 0px;
    padding-right: 250px;
    padding-bottom: 10px;
    text-align: left;
}

.haunting_info h3 {
    padding-bottom: 40px;
}

.haunting_info .release_years {
    padding-bottom: 40px;
}

.haunting_info p {
    padding-bottom: 70px;
}
*/

  /* See and HoHH Section*/
  .see-hohh {
    overflow: hidden;

}

.see {
    display: inline-block;
    margin-top: 250px;
    margin-right: 100px;
    margin-bottom: 40px;
    margin-left: 175px;
}

.see_info {
    display: block;
    float: right;
    width: 418px;
    height: 463px;
    margin-right: 317px;
    margin-top: 327px;

}

.see_info h4 {
    padding-top: 0px;
    padding-right: 250px;
    padding-bottom: 10px;
    text-align: left;
}

.see_info h3 {
    padding-bottom: 40px;
}

.see_info .release_years {
    padding-bottom: 40px;
}

.see_info p {
    padding-bottom: 70px;
}


.hohh {
    display: inline-block;
    float: right;
    margin-top: 328px;
    margin-right: 175px;
    margin-bottom: 150px;
}

.hohh_info {
    display: block;
    float: left;
    width: 418px;
    height: 474px;
    margin-top: 322px;
    margin-right: 112px;
    margin-bottom: 222px;
    margin-left: 317px;


}

.hohh_info h4 {
    padding-top: 0px;
    padding-right: 250px;
    padding-bottom: 10px;
    text-align: left;
}

.hohh_info h3 {
    padding-bottom: 40px;
}

.hohh_info .release_years {
    padding-bottom: 40px;
}

.hohh_info p {
    padding-bottom: 70px;
}

.sex_ed {
    position: relative;.
    max-width: 1440px;
    margin-bottom:150px;
}

.container {
    background-color: #000000;
    position: absolute; 
    margin: 45px 0px 45px 63px;
    max-width: 642px;
    max-height: 571px;
    z-index: 5;
}

.sex_ed_info {
    position: absolute;
    display: block ;
    max-width: 418px;
    padding: 125px 0px 125px 175px;
    color: white;
    z-index: 10;

}

.white-headline {
    color: #FFFFFF;

}

.sex_ed_info h4 {
    padding-bottom: 10px;
    
}

.sex_ed_info h3 {
    padding-bottom: 40px;
    
}

.sex_ed_info .release_years {
    padding-bottom: 40px;
    color: #FFFFFF;
}

.sex_ed_info p {
    padding-bottom: 70px;
    
}



.peaky {
    position: relative;.
    max-width: 1440px;
    margin-bottom:150px;
}
.peaky_info {
    position: absolute;
    display: block ;
    max-width: 418px;
    padding: 125px 0px 125px 175px;
    color: white;
    z-index: 10;

}


.peaky_info h4 {
    padding-bottom: 10px;
    
}

.peaky_info h3 {
    padding-bottom: 40px;
    
}

.peaky_info .release_years {
    padding-bottom: 40px;
    color: #FFFFFF;
}

.peaky_info p {
    padding-bottom: 70px;
    
}

/*Braking bad*/

.breaking_bad {
    position: relative;.
    max-width: 1440px;
    margin-bottom:150px;
}
.breaking_bad_info {
    position: absolute;
    display: block ;
    max-width: 418px;
    padding: 125px 0px 125px 175px;
    color: white;
    z-index: 10;

}

.breaking_bad_info h4 {
    padding-bottom: 10px;
    
}

.breaking_bad_info h3 {
    padding-bottom: 40px;
    
}

.breaking_bad_info .release_years {
    padding-bottom: 40px;
    color: #FFFFFF;
}

.breaking_bad_info p {
    padding-bottom: 70px;
    
}

/*Mindhunter and Dark Section*/

.mind-dark {
    overflow: hidden;

}

.mind {
    display: inline-block;
    margin-top: 250px;
    margin-right: 100px;
    margin-bottom: 40px;
    margin-left: 175px;
}

.mind_info {
    display: block;
    float: left;
    margin-right: 255px;
    margin-left: 175px;
    max-width: 373px;

}

.mind_info h4 {
    padding-top: 0px;
    padding-right: 250px;
    padding-bottom: 10px;
    text-align: left;
}

.mind_info h3 {
    padding-bottom: 40px;
}

.mind_info .release_years {
    padding-bottom: 40px;
}

.mind_info p {
    padding-bottom: 70px;
}


.dark {
    display: inline-block;
    float: right;
    margin-top: -700px;
    margin-right: 170px;
    margin-bottom: 40px;
    margin-left: 55px;
}

.dark_info {
    display: block;
    float: right;
    margin-right: 170px;
    margin-bottom: 150px;
    max-width: 411px;


}

.dark_info h4 {
    padding-top: 0px;
    padding-right: 250px;
    padding-bottom: 10px;
    text-align: left;
}

.dark_info h3 {
    padding-bottom: 40px;
}

.dark_info .release_years {
    padding-bottom: 40px;
}

.dark_info p {
    padding-bottom: 70px;
}


/*Black Mirror and Sherlock section*/

.black-sherlock {
    overflow: hidden;

}

.black {
    display: inline-block;
    margin-top: 250px;
    margin-right: 100px;
    margin-bottom: 40px;
    margin-left: 175px;
}

.black_info {
    position: relative;
    display: block;
    float: left;
    margin-right: 210px;
    margin-left: 175px;
    max-width: 418px;

}

.black_info h4 {
    padding-top: 0px;
    padding-right: 250px;
    padding-bottom: 10px;
    text-align: left;
}

.black_info h3 {
    padding-bottom: 40px;
}

.black_info .release_years {
    padding-bottom: 40px;
}

.black_info p {
    padding-bottom: 70px;
}


.sherlock {
    display: inline-block;
    float: right;
    margin-top: -800px;
    margin-right: 170px;
    margin-bottom: 40px;
    margin-left: 55px;
}

.sherlock_info {
    display: block;
    float: right;
    margin-right: 170px;
    margin-bottom: 150px;
    margin-top: -100px;
    margin-left: 254px;
    max-width: 418px;



}

.sherlock_info h4 {
    padding-top: 0px;
    padding-right: 250px;
    padding-bottom: 10px;
    text-align: left;
}

.sherlock_info h3 {
    padding-bottom: 40px;
}

.sherlock_info .release_years {
    padding-bottom: 40px;
}

.sherlock_info p {
    padding-bottom: 70px;
}

/* ДОДЕЛАТЬ!
.game {
    display: inline-block;
    float: left;
    margin-top: 512px;
    margin-right: 112px;
    margin-bottom: 160px;
    margin-left: 315px;
}

.game_info {
    display: block;
    float: right;
    margin-top: 305px;
    margin-right: 177px;
    margin-bottom: 226px;


}

.game_info h4 {
    padding-top: 0px;
    padding-right: 250px;
    padding-bottom: 10px;
    text-align: left;
}

.game_info h3 {
    padding-bottom: 40px;
}

.game_info .release_years {
    padding-bottom: 40px;
}

.game_info p {
    padding-bottom: 70px;
}

*/


/*SEE ALSO*/

figure {
    float: left;
    margin-right: 65px;

}

figure:first-child {
    margin-left: 170px;
}

figure:last-child {
    margin-right: 175px;
}

figcaption {
    padding-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

figcaption p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.8);
}
.see_also-size {
    display: inline-block;
}


/*Footer*/

footer {
    position: relative;
    margin-top: 110px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #000000;
    background-color: #FF9635;
    
}



.sections-block {
    
    display: inline-block;
    padding-top: 50px;
    padding-right: 142px;
    padding-left: 63px;
    height: 195px;
    color: #000000;

    
}
.about {

    display: inline-block;
    padding: 50px 142px 85px 63px;
    color: #000000;
}
.contact {
    position: absolute;
    display: inline-block;
    padding: 50px 100px 147px 63px;
    color: #000000;


}

/*Join us*/
b {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    float: left;
    padding: 40px 40px 37px 65px ;
}

.bottom-footer {
    background-color: #F08726;
    max-width: 1440px;
    height: 101px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000;

}

.lastpart a {
    display: inline-block;
    padding-right: 15px;
    padding-top: 40px;
    padding-bottom: 38px;

}

.lastpart p {
    display: inline-block;
    margin: 0 auto;
    padding-left: 230px ;
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: rgba(0, 0, 0, 0.4);
}
